## Resumo prova intermediária
---

### 1. Criando tabelas
---

Para criar tabelas usa-se os seguintes comandos:


<code>CREATE TABLE Funcionario(
	RG VARCHAR(32) primary key,
    nome VARCHAR(100),
    salario DECIMAL(10,2),    
    telefone VARCHAR(45),   
    idDepartamento INT
)</code>

Para adicionar chaves estrangeiras:

<code>constraint fk_departamento
		foreign key (idDepartamento)
        references Departamento (idDepartamento)</code>

Para rodar um script mais de uma vez:

<code>DROP TABLE IF EXISTS Funcionario;</code>

### 2. Alterando tabelas
---

Para adicionar colunas:

<code>ALTER TABLE Funcionario ADD COLUMN RG_mentor VARCHAR(45);</code>

Para adicionar chaves estrangeiras:

<code>ALTER TABLE Funcionario 
        ADD constraint fk_mentor
		foreign key (RG_mentor) references Funcionario (RG); </code>

### 3. Inserindo valores
---

<code>INSERT INTO tabela (coluna1, coluna2, coluna3) VALUES (valor1, valor2, valor3)</code>

### 4. Atualizando valores
---

<code>UPDATE tabela SET coluna1="valor1" WHERE coluna1="valor2" </code>

Caso seja desejado usar um DELETE + INSERT, pode ser então usado o REPLACE:

<code>REPLACE INTO tabela VALUES ("find", "replace")</code>

### 5. Deletando valores
---

<code>DELETE FROM tabelas WHERE coluna1="valor1"</code>

Caso seja necessário manter a integridade dos dados, ou seja, se uma linha da tabela pai for apagada e alguma linha da tabela filha referenciava esses dados, podemos usar as opções ON DELETE e ON UPDATE:

<code>ALTER TABLE tabela
    ADD CONSTRAINT fk_valor FOREIGN KEY (coluna1) REFERENCES tabela2 (coluna2)
    ON DELETE CASCADE
    ON UPDATE CASCADE;</code>

A opção CASCADE permite excluir ou atualizar os registros relacionados presentes na tabela filha automaticamente, quando um registro da tabela pai for atualizado (ON UPDATE) ou excluído (ON DELETE). É a opção mais comum aplicada.

### 6. Comando básicos
---

O Comando WHERE pode ser usado para filtros:

<code>SELECT coluna FROM tabela WHERE coluna IS NULL</code>

<code>SELECT coluna FROM tabela WHERE coluna = "algum_valor"</code>

O comando LIMIT limita o número de linhas da query:

<code>SELECT coluna FROM tabela WHERE coluna = "algum_valor" LIMIT 10</code>

O comando ORDER BY ordena a ordem das resposta, pode ser DESC ou ASC:

<code>SELECT coluna FROM tabela ORDER BY alguma coluna ASC</code>

O comando DISTINCT seleciona somente valores distintos:

<code>SELECT DISTINCT coluna1 FROM tabela WHERE coluna IS NOT NULL</code>

O comando HAVING funciona igual ao WHERE, mas deve ser usado depois do agrupamento:

<code>SELECT 
    coluna, COUNT(coluna1) as cnt
FROM 
    tabela
GROUP BY
    coluna
HAVING 
    cnt > 20
ORDER BY
    cnt DESC</code>

### 7. Agragação
---

Count: 

<code>SELECT COUNT(*) FROM tabela</code>

Max:

<code>SELECT MAX(coluna) FROM tabela</code>

Sum:

<code>SELECT SUM(coluna) from tabela</code>

Avg:

<code>SELECT AVG(coluna) from tabela</code>

### 8.  Cria variáveis
---

Criar varíaveis é possível, a query deve retornar apenas um valor:

<code>SELECT MAX(duracao) INTO @max_duracao from musica</code>

### 9. Join
---

O comando INNER JOIN faz o produto cartesiano das tabelas:

<code>SELECT 
    coluna
FROM 
    tabela 
INNER JOIN tabela1 USING (coluna)</code>

Caso as chaves sejam diferentes nas tabelas, o comando deve ser alterado para:

<code>SELECT
    coluna
FROM
    tabela
    INNER JOIN tabela1 ON tabela.coluna = tabela1.coluna1</code>

### 10. Concat
---

<code>SELECT
    CONCAT('"', c1.coluna, '" indicado por "', c2.coluna, '"')
FROM
    cd c1,
    cd c2
WHERE
    c1.coluna1 = c2.coluna1</code>

### 11. Group by
---

<code>SELECT 
    first_name, last_name, COUNT(film_id) as cnt
FROM 
    film
    INNER JOIN film_actor USING (film_id)
    INNER JOIN actor USING (actor_id)
GROUP BY
    actor_id
ORDER BY cnt DESC
LIMIT 10</code>

### 12. Tabelas temporários
---

<code>CREATE TEMPORARY TABLE title_count
    SELECT 
        title, COUNT(rental_id) as cnt
    FROM
        film</code>